body
{
    background-color: #333;
    max-width: 1200px;
    margin: auto;
    font-family: calibri;
    padding-left: 16px;
    padding-right: 16px;
}

h1
{
    font-size: 50px;
    text-align: center;
    color: #48d1ff;
    text-decoration: underline;
    margin-top: 50px;
}

h2
{
    font-size: 30px;
    text-align: left;
    color: #48d1ff;
}

p
{
    font-size: 20px;
    color: white;

}

#overview
{
    margin-top: 100px;
    padding: 10px;
    padding-bottom: 50px;
    background-color: #555;
    border-radius: 8px;
    text-align: center;
}

#overview a
{
    font-size: 22px;
    margin: 10%;
    color: white;
}

#overview a:hover
{
    color: #48d1ff;
}

#start
{
    background-color: #555;
    border-radius: 8px;
    padding: 10px;
    margin-top: 100px;
}

#portfolio
{
    background-color: #555;
    border-radius: 8px;
    padding: 10px;
    margin-top: 100px; 
}

#sources
{
    background-color: #555;
    border-radius: 8px;
    padding: 10px;
    margin-top: 100px;
    margin-bottom: 100px;
}

#end
{
    margin: 10%;
}

#end img
{
    width: 50px;
    height: 50px;
    cursor: pointer;
    margin-left: 15px;
    margin-bottom: -15px;
}

#end-info
{
    float: right;
    font-style: italic;
    color: gray;
    margin-bottom: 50px;
    margin-top: -10px;
}
